.head{
    width: 100%;
    height: 100px;
}

.head p{
    font-size: 50px;   
    font-weight: bold;
    font-style: italic;
}

.base-content{
    position: relative;
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
}

.base-table-headder{
    width: 300px;
}

.base-table-data{
    vertical-align: top;
}

.monitor-table-row{
    height: 50px;
    vertical-align: top;
}

.monitor-table-headder{
    width: 150px;
    text-align: center;
    vertical-align: middle;
}

.monitor-table-data{
    width: 150px;
    text-align: center;
    vertical-align: middle;
}

.content2{
    width: 100%;
    height: 100px;
}

