.head{
    width: 100%;
    height: 100px;
}

.head p{
    font-size: 50px;   
    font-weight: bold;
    font-style: italic;
}

.content1{
    position: relative;
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
}


.content2{
    width: 100%;
    height: 100px;
}

